h2 {
  text-align: center;
}
li {
  list-style-type: none;
}
.heroes{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  width: 250px;
  height: 250px;
  background-color: yellow;
}